/** CSS for index.html **/

:root{--indexBrown:rgb(66, 31, 31);}

/** INDEX SELECTORS **/

/*index body*/
body.homePage{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*index header*/
header.homePage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--indexBrown);
    color:rgb(249, 246, 243);
    line-height:1.4rem;
}

/*index Header h1*/
#indexHeaderH1{
    font-size: 24px;
}

/*index nav*/
.indexNavbar{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    list-style: none;
    margin-left: auto; 
}

.menu > li{
    margin: 0 15px;
}

.menu > a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
}

.menu a:hover{
    background-color: #575757;
    border-radius: 5px;
}




/*index article*/
article.homePage, aside.homePage{ margin: 2rem;}

/*index secondaryBox*/
.secondaryBox{
    background-image:url(images/index.smiley.jpg);
    height: 60vw;
}

/*index aside*/
aside.homePage{
    background-color:rgb(150, 175, 174);
    padding-left: 1em;
    padding-top: 0.1em;
    padding-bottom: 0.75em;
}


/** INDEX TEXT FORMATING **/

/*index article header*/
#article-header1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 2rem;
}

/*index article ingress*/
#ingress{
    font-weight: 700;
    color: rgb(51, 51, 51);
}

/*index article paragaph*/
aside.homePage > p{
    font-family:'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: larger;
}


/** INDEX GRID **/
@media (max-width: 839px){
    .secondaryBox{
        grid-column: 1/2;
        grid-row: 2;
        background-image:url(images/index.smiley.jpg);
        background-size: cover;
        height: 90vw;
        max-height: 60vw;
    }

    /*index footer*/
    footer > div{
        margin-left: 2rem;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        border-style: dashed;
        font-size: smaller;
    }
}


@media (min-width: 840px){
    .indexGridContainer{
        display: grid;
        grid-template-columns: minmax(500px, 40vw) minmax(300px, 20vw) auto;
        grid-template-rows: minmax(100px, auto);
    }

    .mainbox{
        grid-column: 1/2;
        grid-row: 1;
    }

    .secondaryBox{
        grid-column: 1/2;
        grid-row: 2; 
        background-image:url(images/index.smiley.jpg);
        background-size: cover;
        height: 40vw;
        max-height: 300px;
    }

    aside{
        grid-column: 2/3;
        grid-row: 1;
    }

    footer{
        display: grid;
        grid-template-columns: minmax(200px, 20vw), minmax(200px, 20vw), minmax(200px, 20vw) auto;
        border-style: dashed;
        border-width: 4px;
        border-color: rgb(52, 50, 50);
        border-radius: 20px;
    }

    .footerLeft{
        grid-column: 1/2;
        grid-row: 3;
        padding-left: 1rem;
    }

    .footerMiddle{
        grid-column: 1/2;
        grid-row: 3;
        border-left: rgb(52, 50, 50);
        border-right: rgb(52, 50, 50);
        padding-left: 1rem;
    }

    .footerRight{
        grid-column: 1/2;
        grid-row: 3;
        padding-left: 1rem;
    }

}

/** INDEX HAMBRUGER MENU **/

/*#hamburgerMenu{display: none;}*/

/*@media (min-width: 701px){
    .menu{
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none; 
    }

    .menu > li{padding-right: 15rem}
}*/

@media (max-width: 700px){
    .menu{
        list-style-type: none; 
        position: sticky;
        padding-left: 0px;
    }

    .menuIcon{
        display: block;
        background-image: url(images/index.menu.png);
        background-size: cover;
        height: 50px;
        width: 50px;
    }

    .hamburgerContainer{cursor: pointer;}

    .menu > li{
        height:0px;
        overflow: hidden;
    }

    #hamburgerMenu:checked ~ .menu > li{
        height: 1rem;
        width: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        background-color: var(--indexBrown);
    }

    header.homePage > nav{
        display: flex;
        height: 50px;
    }

}

/** CSS for the git page **/

:root{--git-color:rgb(25, 25, 25)}
:root{--git-nav-active:rgb(79,79,79)}

/* Nav menu */

body.git {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    margin: 0;
}

header.git-menu {
    background-color: var(--git-color);
    border-bottom: 0.05rem solid white;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    height: 3.25rem;
    width: 90%;
    margin: 0 auto;
    position: sticky;
    top: 0;
}

label.git-menu-button {
    display: none;
}

ul.git-navigation-wrapper {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;
    width: 80%;
    max-width: 80rem;
    height: 3.25rem;
}

li.git-navigation {
    width: 100%;
    height: inherit;
    transition: 0.3s;
    border-right: 0.05rem solid white;
    display: flex;
    justify-content: center;
}

li.git-navigation:first-child {
    border-left: 0.05rem solid white;
}

li.git-navigation:hover {
    background-color: var(--git-nav-active);
}

/* The current site your one */

li.git-active {
    background-color: var(--git-nav-active);
}

li.git-navigation > a {
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}

div.git-nav-text {
    color: white;
    font-size: 1.25rem;
    text-align: center;
    margin: calc((3.25rem - 1.25rem)/2) 0; /* calculate the middle postition */
    text-decoration: none;
    font-weight: bold;
}

#git-menu {
    display: none;
}

/* Article */

article.git-article {
    max-width: 75%;
    margin: 3rem auto;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: /* Generated with https://shadows.brumm.af */
        -1.4px -2px 22.8px rgba(0, 0, 0, 0.08),
        1.5px 2px 30px rgba(0, 0, 0, 0.063),
        11.5px 15.9px 35.6px rgba(0, 0, 0, 0.058),
        30px 41.6px 41.9px rgba(0, 0, 0, 0.055),
        52.9px 73.3px 51.8px rgba(0, 0, 0, 0.05),
        75px 104px 80px rgba(0, 0, 0, 0.04);
}

div.git-article {
    max-width: 80%;
    margin: auto;
}

div.git-article-body::after {
    margin-top: 0.5rem;
    background: rgba(0, 0, 0, .2);
    width: 115%;
    margin-left: -7.5%;
    margin-top: 2rem;
    content: "";
    display: block;
    height: 1px;
}

div.git-article-body:last-child::after {
    display: none;
}

ul.git-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

ul.git-image-container > li:first-child {
    margin-right: 1rem;
}

ul.git-image-container > li {
    width: calc(50% - 1rem);
}

img.git-image {
    width: 100%;
    height: auto;
}

/* For different screen sizes */

/*
    Disables the top bar and adds a drop down menu, to prevent
    merging of the "links" between each site
*/

@media (max-width: 750px) {        
    /** Menu **/
    ul.git-navigation-wrapper {
        background-color: var(--git-color);
        height: fit-content;
        width: fit-content;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        display: none;
        margin: 0;
    }

    li.git-navigation {
        border-right: 0;
    }
    
    li.git-navigation:first-child {
        border-top: 0.05rem solid white;
        border-left: 0;
    }
    
    li.git-navigation:last-child {
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }

    label.git-menu-button {
        border-right: 0.05rem solid white;
        cursor: pointer;
        height: 3.25rem;
        width: 5rem;
        display: flex;
    }

    li.git-menu-button {
        height: 70%;
        width: 2rem;
        align-items: center;
        display: grid;
        margin: auto;
    }

    li.git-menu-button > span {
        display: block;
        height: 0.1rem;
        width: 100%;
        background-color: white;
    }

    #git-menu:checked ~ ul.git-navigation-wrapper {
        display: grid;
    }

    /** Images **/
    /* 
        Switch the display to a grid, so that the images "stack" on top of eachother
        instead of next to eachother
    */
    ul.git-image-container {
        display: grid;
    }

    ul.git-image-container > li{
        width: 100%;
    }
}